<!DOCTYPE html>
<html>
  <head>
    <title>Zip Business Patterns</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
  </head>

  <body>

    <!--SCRIPTS-->
    
    <!--SCRIPTS END-->
    <div id="route-wrapper">
      <%- body %>
    </div>
  </body>
</html>
